Source: cpufreqd
Section: admin
Priority: optional
Maintainer: Andrey Semashev <andrey.semashev@gmail.com>
Build-Depends: debhelper-compat (= 13), devscripts, build-essential, cmake (>= 3.20), binutils, gcc
Standards-Version: 3.8.4

Package: cpufreqd
Architecture: any
Section: admin
Priority: optional
Depends: ${shlibs:Depends}
Description: This package contains a Linux daemon that monitors CPU usage and automatically adjusts cpufreq parameters to optimize power consumption and performance.
